.hidden{
  display: none;
}

.lower{
  padding-top: 20px;
}

.single, .other{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
.profile-item{
  align-self: auto;
  text-align: center;
  min-width: 200px;
}

.profile-item img{
  margin: auto;
}

.profile-item span{
  text-align: center;
  position: absolute;
  margin-left: -150px;
  margin-top: 50px;
  color: white;
}

.backdrop{
  opacity: 0.8;
}

