//=====================Get Outside Page=========================

.outside{
  position: relative;
  height: 600px;
}

.outside-content{
  position: relative;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.outside img {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
  overflow: hidden;
}

.outside h1{
  text-align: center;
}

.outside h3{
  margin-left: 20px;
}

.outside-content img{
  max-width: 200px;
  height: auto;
  position: inherit;
  z-index: 2;
  opacity: 1;
  border-radius: 5px;
}

.trip-button{
  width: 60%;
  margin: 2% auto;
}

.trip-button button{
  width:75%;
  margin: auto;
}

.trip-button button:hover{
    width: 100%;
    font-size: 1.5em;
    transition: 1s;
}

.panel{
  overflow-x: hidden;
}

.center-content{
  text-align: center;
}

.stand-out{
  background-color: rgba(10, 10, 10, 0.1);
}

//=====================Plan Page=========================


.plan-form{
  margin-top: 25px;
}



//=====================Trip Page=========================

