//=====================Get Outside Page=========================

.outside{
  position: relative;
  height: 600px;
}

.outside-content{
  position: relative;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

.outside img {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
  overflow: hidden;
}

.outside h1{
  text-align: center;
}

.outside h3{
  margin-left: 20px;
}

.outside-content img{
  max-width: 200px;
  height: auto;
  position: inherit;
  z-index: 2;
  opacity: 1;
  border-radius: 5px;
}

.trip-button{
  width: 60%;
  margin: 2% auto;
}

.trip-button button{
  width:75%;
  margin: auto;
}

.trip-button button:hover{
    width: 100%;
    font-size: 1.5em;
    transition: 1s;
}

.panel{
  overflow-x: hidden;
}

.panel-body{
  color: gray;
}

.center-content{
  text-align: center;
}

.stand-out{
  background-color: rgba(10, 10, 10, 0.1);
}

.caption{
  position: fixed;
  bottom: 0;
  color: white;
  opacity: 0.85;
}

//=====================Plan Page=========================


.plan-form{
  margin-top: 25px;
}



//=====================Trip Page=========================

.members a{
  display: inline-block;
}
.members img{
  height: 150px;
  width: 150px;
  display: inline;
}

.request img{
  max-height: 300px;
  width: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.request-button{
  margin: 15px auto;
  width: 50%;
}

.trip-requests img{
  max-width: 100px;
  max-height: 100px;
  border-radius: 5%;
  margin: 10px;
}

.trip-requests button{
  border-radius: 5%;
  margin: 10% 0;
}





