.row
  .outside
    img(ng-src='{{out.pic}}')
    .col-sm-8.col-sm-offset-2.outside-content
      .plan-button
        a(href='/#/plan')
          button.btn.btn-success.btn-lg.btn-group-justified Plan A Trip
      .panel.panel-default.row.top-panel
        a(data-toggle='collapse' data-target='#tripCollapse')
          .panel-heading.h3.col-sm-2.panel-title.center-content Who
          .panel-heading.h3.col-sm-2.panel-title.center-content Destination
          .panel-heading.h3.col-sm-4.panel-title.center-content Date
          .panel-heading.h3.col-sm-4.panel-title.center-content Notes
        #tripCollapse.collapse
          a(ng-repeat='(who, trip) in out.allTrips' href='/#/trip/{{who}}')
            .row.panel-body(ng-class='{"stand-out": ($index % 2)}')
              .col-sm-2
                span{{trip.name}}
                  img(ng-src='{{trip.profPic}}')
              .col-sm-2{{trip.location}}
              .col-sm-4{{trip.dateStart | date}} - {{trip.dateEnd | date}}
              .col-sm-4.text-left{{trip.notes}}
    .row
      .col-md-2.col-md-offset-10.caption
        h3.caption{{out.picText}}


