.row
  .col-md-6.col-md-offset-3
    .plan-form
      form
        .form-group
          label.control-label Where are you going?
          input.form-control(placeholder='Eg: Indian Creek, The Red River Gorge, Rifle...')
        .form-group
          label.control-label When are you going?
          input.form-control(placeholder='Date Picker')
        .form-group
          label.control-label Trip Notes
          textarea.form-control(placeholder="Any information you'd like to add..." rows='3')
