
.row
  .col-md-5.col-md-offset-2
    .the-trip
      h1 Hey I'm {{out.thisTrip.name}} and I'm planning a trip to {{out.thisTrip.location}}!
      h3 When? {{out.thisTrip.dateStart | date}} - {{out.thisTrip.dateEnd | date}}
      h3(ng-show='{{out.thisTrip.notes}}') Here's what you need to know:
        h4{{out.thisTrip.notes}}
  .col-md-4
    .request
      a(href='#/person/{{out.viewID}}')
        img(ng-src='{{out.thisTrip.profPic}}')
.row
  .col-md-10.col-md-offset-2.members
    h3 Who's going?
    a(ng-repeat='(index, profile) in out.thisTrip.profiles' href='#/person/{{profile.simpleLogin}}')
      img.img-circle(ng-src='{{profile.photo}}')
    span.h4(ng-hide='out.thisTrip.members')  No one yet...
.row
  .col-md-8.col-md-offset-2.request-half
    button.btn.btn-info.btn-block.request-button(ng-hide='out.self' ng-click='out.tripRequest()') Ask to join {{out.thisTrip.name}}'s trip
    h1.text-right(ng-show='out.self') Trip Requests
    h3.text-right(ng-hide='out.requestList || !out.self') No requests right now...
    .trip-requests(ng-show='out.self' ng-repeat='(id, profile) in out.nameList' ng-class='{"stand-out": ($index % 2)}')
      .row(ng-show='out.requestList')
        .col-md-4.col-md-offset-2
          a(href='#/person/{{profile.simpleLogin}}'): img(ng-src='{{profile.photo}}')
          a(href='#/person/{{profile.simpleLogin}}'): span.h4 {{profile.name}}
        .col-md-3
          button.btn.btn-success.accept(ng-click='out.accept(profile.simpleLogin)') Add to trip
        .col-md-3
          button.btn.btn-danger.reject(ng-click='out.reject(profile.simpleLogin)') Maybe not...
