
<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <div class="the-trip">
      <h1>Hey I'm {{out.thisTrip.name}} and I'm planning a trip to {{out.thisTrip.location}}!</h1>
      <h3>When? {{out.thisTrip.dateStart | date}} - {{out.thisTrip.dateEnd | date}}</h3>
      <h3 ng-show="{{out.thisTrip.notes}}">Here's what you need to know:
        <h4>{{out.thisTrip.notes}}</h4>
      </h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="request"><a href="#/person/{{out.viewID}}"><img ng-src="{{out.thisTrip.profPic}}"/></a></div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-2 members">
    <h3>Who's going?</h3><a ng-repeat="(index, profile) in out.thisTrip.profiles" href="#/person/{{profile.simpleLogin}}"><img ng-src="{{profile.photo}}" class="img-circle"/></a><span ng-hide="out.thisTrip.members" class="h4"> No one yet...</span>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 request-half">
    <button ng-hide="out.self" ng-click="out.tripRequest()" class="btn btn-info btn-block request-button">Ask to join {{out.thisTrip.name}}'s trip</button>
    <h1 ng-show="out.self" class="text-right">Trip Requests</h1>
    <h3 ng-hide="out.requestList || !out.self" class="text-right">No requests right now...</h3>
    <div ng-show="out.self" ng-repeat="(id, profile) in out.nameList" ng-class="{&quot;stand-out&quot;: ($index % 2)}" class="trip-requests">
      <div ng-show="out.requestList" class="row">
        <div class="col-md-4 col-md-offset-2"><a href="#/person/{{profile.simpleLogin}}"><img ng-src="{{profile.photo}}"/></a><a href="#/person/{{profile.simpleLogin}}"><span class="h4">{{profile.name}}</span></a></div>
        <div class="col-md-3">
          <button ng-click="out.accept(profile.simpleLogin)" class="btn btn-success accept">Add to trip</button>
        </div>
        <div class="col-md-3">
          <button ng-click="out.reject(profile.simpleLogin)" class="btn btn-danger reject">Maybe not...</button>
        </div>
      </div>
    </div>
  </div>
</div>