
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="profileBox"><img ng-src="{{profile.profileObj.photo}}"/>
      <div class="profileText">
        <h1>{{profile.profileObj.name}}</h1>
        <p class="lead">{{profile.profileObj.age}} from {{profile.profileObj.location}}</p>
        <p ng-show="profile.profileObj.grade" class="lead">Climbs {{profile.profileObj.grade}}!</p>
        <p class="lead">{{profile.profileObj.name}} {{profile.belay}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <button ng-show="profile.topRope" ng-click="profile.endorseTopRope()" ng-class="{disabled : profile.disableTopRope}" class="btn btn-default btn-block vote">+ Top-Rope</button>
    <button ng-show="profile.lead" ng-click="profile.endorseLead()" ng-class="{disabled : profile.disableLead}" class="btn btn-default btn-block vote">+ Lead</button>
  </div>
  <div class="col-md-7 agreeBox">
    <div class="whoAgrees text-left"><a ng-click="profile.toggleTop()" data-animation="true" data-toggle="popover" data-trigger="manual" data-placement="bottom" data-content="{{profile.topRopeNames.join(&quot;, &quot;)}}" class="h3 topPop">{{profile.topRopePeople}}</a><span ng-show="profile.topRopePeople" class="h3">{{profile.profileObj.name}} is a great top-rope belayer!</span></div>
    <div class="text-left"><a ng-click="profile.toggleLead()" data-animation="true" data-toggle="popover" data-trigger="manual" data-placement="bottom" data-content="{{profile.leadNames.join(&quot;, &quot;)}}" class="h3 leadPop">{{profile.leadPeople}}</a><span ng-show="profile.leadPeople" class="h3">{{profile.profileObj.name}} is a great lead belayer!</span></div><a ng-show="profile.tripLink" href="{{profile.tripLink}}">
      <button class="btn btn-block btn-primary trip-button">{{profile.profileObj.name}} planned a trip!</button></a>
  </div>
</div>