
<div class="users container">
  <div class="col-md-10 col-md-offset-1 panel panel-default">
    <div class="row panel-heading">
      <h1>THE LOCALS</h1>
      <h4 class="text-right">These climbers live near {{profile.geoObj.city}}, {{profile.geoObj.region}}</h4>
      <div class="single row">
        <div ng-show="profile.geoObj.region === value.state" ng-repeat="(id, value) in profile.everyoneObj" class="profile-item"><a href="/#/person/{{id}}" ng-mouseover="profile.show()" ng-mouseleave="profile.hide()"><img ng-src="{{value.photo}}"/><span class="hidden h4">{{value.name}}</span><span class="lower hidden h4">{{value.location}}</span></a></div>
      </div>
    </div>
    <div class="row">
      <h4 class="text-right">But we have users all over the country...</h4>
    </div>
    <div class="other row panel-body">
      <div ng-show="profile.geoObj.region !== value.state" ng-repeat="(id, value) in profile.everyoneObj" class="profile-item"><a href="/#/person/{{id}}" ng-mouseover="profile.show()" ng-mouseleave="profile.hide()"><img ng-src="{{value.photo}}"/><span class="hidden h4">{{value.name}}</span><span class="lower hidden h4">{{value.location}}</span></a></div>
    </div>
  </div>
</div>