.modal.fade#modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span &times;
        h2 Create Your Profile
      .modal-body
        form
          .form-group
            label.control-label Email*
            input.form-control(type='email' placeholder='email@whatever.com' ng-model='auth.person.email')
          .form-group
            label.control-label Password*
            input.form-control(type='password' placeholder='Password' ng-model='auth.person.password')
          .form-group
            label.control-label Name
            input.form-control(placeholder='Chris Sharma' ng-model='auth.person.name')
          .form-group
            label.control-label Age
            input.form-control(ng-model='auth.person.age')
          .form-group
            label.control-label Where do you live?
            input.form-control(placeholder='City, State' ng-model='auth.person.location')
          .form-group
            label.control-label What grade do you usually climb?
            input.form-control(placeholder='5.4+ on a good day' ng-model='auth.person.grade')
          .form-group
            label.control-label Upload your face!
            input.form-control(placeholder='http://i.imgur.com/catPictures.jpg' ng-model='auth.person.photo')
          p *Field Required
      .modal-footer
        button.btn.btn-success(ng-click='auth.register()') Save
        button.btn.btn-danger(data-dismiss="modal") Cancel
