.row
  .col-md-6.col-md-offset-3
    p.text-center Enter your email address. In a few minutes you will recieve an email with instructions on how to reset your password.
    form.reset
      input.form-control(type='email' ng-model='auth.reset.email' placeholder='email@domain.com')
      button.btn.btn-danger(ng-click='auth.resetPass()') Submit
    .reset-success(ng-show='auth.resetSuccess')
      h1 Success! You will recieve an email shortly!
      h2: a(href='#/login') Back to login...
