form.row
  .col-md-10.col-md-offset-1
    input.form-control(type='email' placeholder='email@domain.com' ng-model='auth.email')
    input.form-control(type='password' placeholder = 'Password' ng-model='auth.password')
