@import 'authorize/login';
@import 'profile/profile';
@import 'users/users';
@import 'outside/outside';



body{
  overflow-x: hidden;
}

.jumbotron{
  padding: 0 60px 20px;
  margin-top: -20px;
  margin-bottom: 0;
}

.jumbotron h1 a{
  text-decoration: none;
  color: #009605;
}

.head-logo, nav{
  display: inline-block;
  margin-bottom: 0;

}

.jumbotron nav{
  margin: 20px 0 0 4%;
}

.nav a{
  font-size: 1.75em;
  color: #009605;
}

.nav a:hover{
  color: #469600;
  font-size: 2em;
  transition: 0.25s;
  transition-delay: 0.1s;
}

.btn-primary{
  background-color: #67D6A6;
  border-color: #67D6A6;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background-color: #00B366 !important;
  border-color: #67D6A6 !important;
}

.btn-primary.disabled{
  background-color: #67D6A6 !important;
  border-color: #67D6A6!important;
  opacity: 0.5;
}







