
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form ng-submit="auth.login(auth.email, auth.password)" class="login-form">
      <input type="email" placeholder="email@domain.com" ng-model="auth.email" class="form-control"/>
      <input type="password" placeholder="Password" ng-model="auth.password" class="form-control"/>
      <div role="group" class="buttons btn-group btn-group-justified">
        <div role="group" class="btn-group">
          <button class="btn btn-lg btn-success">Login</button>
        </div>
        <div role="group" class="btn-group">
          <button ng-click="auth.modalLoad()" class="btn btn-lg btn-info">Register</button>
        </div>
        <div role="group" class="btn-group">
          <button class="btn btn-lg btn-danger"><a href="/#/reset">Forgot Password</a></button>
        </div>
      </div>
    </form>
  </div>
  <div ng-include="'assets/authorize/modal.html'"></div>
</div>