.profileBox img{
  max-height: 175px;
  max-width: 200px;
  float: left;
  border-radius: 5px;
}

.profileText{
  margin-left: 225px;
}

.agree button{
  margin-right: 15px;
}

.agreeBox{
  text-align: center;
}

.agreeBox a{
  text-decoration: none;
}

.whoAgrees{
  margin-bottom: 20px;
}

.edit-button{
  width: 75%;
  margin: 5% 12.5%;
}

.edit-button:focus{
  outline: none;
}
