doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Clipped In
    link(rel="stylesheet", href="/lib/build.css")
    link(rel="stylesheet", href="/assets/main.css")
  body(ng-app="clippedIn")
    .container
      .jumbotron
        h1.head-logo:  a(href='/#/profile') Clipped In
        nav.navbar
          ul.nav.navbar-nav
            li: a(href='/#/profile') Home
            li(ng-hide='auth'): a(href='/#/login') Login
            li(ng-show='auth'): a(href='/#/logout') Logout
            li: a(href='/#/users') Meet The Locals
            li: a(href='/#/outside') Get Outdoors
    .app(ng-view)
  script(src="lib/build.js")

  script(src="assets/main.module.js")
  script(src="assets/main.run.js")
  script(src="assets/main.constants.js")

  script(src="assets/authorize/auth.controller.js")
  script(src="assets/authorize/logout.controller.js")
  script(src="assets/authorize/auth.config.js")

  script(src="assets/profile/profile.factory.js")
  script(src="assets/profile/profile.controller.js")
  script(src="assets/profile/profile.config.js")

  script(src="assets/users/person.config.js")
  script(src="assets/users/person.controller.js")

  script(src="assets/outside/outside.config.js")
  script(src="assets/outside/outside.controller.js")
  script(src="assets/outside/outside.factory.js")



